/* Mobile view responsive start from here */
@media screen and (max-width: 576px) {
    .container{
        width: 100%;
    }
    header{
        padding: 30px;
    }
    nav, .nav-links{
        flex-direction: column;
        text-align: center;
    }
    nav .nav-links {
        gap: 20px;
    }

    #hero-area{
        margin-top: 50px;
    }
    #hero-area h1{
        font-size: 2.5rem;
        width: 100%;
    }
    #hero-area p{
        width: 100%;
    }


    #about{
        flex-direction: column;
        margin: 30px auto;
        gap: 45px;
    }
    #about .about-img{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }
    #about .about-con h3, #about .about-con p{
        width: 100%;
    }
}
/* Mobile view responsive end here */