/* "Work Sans' font imported from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  background: var(--white);
}
p {
  font-size: ;
}
/* Color variable */
:root {
  --heading: #131313;
  --text: #727272;
  --bg: #ff900e;
  --white: #fff;
}

/* Shared CSS */
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 75%;
}
p {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
}
h3 {
  font-size: 2.8125rem;
  font-weight: 700;
  color: var(--heading);
}
.btn {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 24px;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
/* Shared CDD end */

/* Header section styles start from here */
header {
  padding: 45px 0;
  background: rgba(255, 144, 14, 0.1);
}
/* Navbar start  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  color: var(--heading);
  font-size: 1.8rem;
  font-weight: 700;
}
nav .nav-links {
  display: flex;
  gap: 30px;
}
nav .nav-links li a {
  font-size: 1.125rem;
  color: #424242;
  font-weight: 500;
  line-height: 1.625rem;
  text-transform: capitalize;
}
/* Navbar end  */

/* Hero area styles start here */
#hero-area {
  text-align: center;
}
#hero-area h1 {
  width: 862px;
  margin-inline: auto;
  color: var(--heading);
  font-size: 4rem;
  font-weight: 700;
}
#hero-area p{
  width: 868px;
  /* margin-inline: auto; */
  margin: 32px auto;
}
#hero-area .btn{
  margin-bottom: 50px;
}
/* Hero area styles end here */

/* Header section styles end here */
